body {
    background: #061CFF;
    color: white;
    font-family: Courier New, Courier, monospace;
}

.project-container {
    margin: 20px 20px 0 0;  
    overflow: auto;
}

a {
    background: white;
    text-decoration: none;
}

a:hover {
    background: blue;
    color: white;
}

.thumb {
    width: 250px;
    height: 150px;
    float: left;
}

.thumb img {
    display: block;
}

.description {
    margin-left: 270px;
}

.description h3 {
    margin-top: 0px;
}