body {
    background: #f0f0f0;
    font-family: Courier New, Courier, monospace;

}

h1, h2, h3 {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

.section::before {
    content: "----------------";
}

.section {
    margin-bottom: 25px;
}

.container {
    position: absolute;
    margin-left: 120px;
    margin-right: 120px;
}

.navbutton {
    position: absolute;
    top: 0px;
    right: 15px;
}